
@font-face {
    font-family: "TTLakes";
    src: local("TTLakes"),
      local("TTLakes"),
      url("TTLakes/TTLakes-Medium.woff") format("woff"),
      url("TTLakes/TTLakes-Medium.ttf") format("ttf");
    font-weight: normal;
  }
body {
    font-family: TTLakes;
    background-color:#F8F8F8;
}
.menu__button--burger{
    background-image: url(img/burger.svg);
    width: 40px;
    height: 40px;
    background-size: contain ;
    border: none;
    border-radius:50%;
}
.menu__button-m--call{
    width: 40px;
    height: 40px;
    background-image: url(img/call.svg);
    background-size: contain ;
    border: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;}

.menu__button-m--chat{    
    width: 40px;
    height: 40px;
    background-image: url(img/chat.svg);
    background-size: contain ;
    border: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;
}
.menu__button-m--profile{
    width: 40px;
    height: 40px;
    background-image: url(img/profile.svg);
    background-size: contain ;
    border: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;
}

.menu__button--repair{
    width: 40px;
    height: 40px;
    background-image: url(img/repair.svg);
    background-size: contain ;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.menu__button--status{
    width: 40px;
    height: 40px;
    background-image: url(img/checkstatus.svg);
    background-size: contain ;
    border: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;

}

.menu__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    background-color: white;
    padding-top: 15px;
}
.menu__button--burger{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.menu__button--logo{
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 768px){
    
.menu {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;}
.menu__divider2 {
    display: none;
}

.menu__button-m--call, .menu__button-m--chat, .menu__button-m--profile {
    display: none;
}
.services-nav{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.services__buttons {
    display: none;
}
.text__paragraph{
    max-height:90px;
    overflow: hidden;
}
.menu__span-1::after{
    content: url(img/divider.svg);
    }  
}
.menu__button, .menu__button-m {
    background-color: white;
    border: none;
}
@media(min-width:768px) and ( max-width:1120px){
    .services__buttons {
        display: none;
    }
    .text__paragraph{
        max-height:160px;
        max-width: 312px;
        overflow: hidden;
    }
    .text{
        display: flex;
     }  
     .services__button{
        display: none;
     }
     .menu__span-1::before{
        content: url(img/divider.svg);
        }  
     .menu__span-2::after{
        content: url(img/divider.svg);
     }   

}
@media (min-width: 1120px){
    .services__buttons label{
        display: flex;
        align-items: center;
        margin: 10px;
       }
    .services__buttons input{
        margin: 10px;
    }
    
    .services__buttons{
        display: flex;
        flex-wrap: nowrap;
    }
    .text__read label{
      
        padding-top: 20px;
    }
        
    .menu__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;}
    
    .menu__button--logo{
        display:none;
    }
    .menu__divider2{
        display: none;
    }
    .menu{
        display: none;
    }
    
    .services__serv{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

    }
    .services__buttons--enquiery{
width: 40px;
height: 40px;        
background-image: url(img/repair.svg);
background-size: contain ;
border: none;
border-radius: 50%
    }
    .services__buttons--status{
        width: 40px;
        height: 40px;
        background-image: url(img/checkstatus.svg);
        background-size: contain ;
        border: none;
        border-radius:50%;
    }
    .services-nav__button{
        border: none;
        background-color: transparent;
        padding:3px;
        
    }
    .text__paragraph{
        max-height:160px;
        max-width: 490px;
        overflow: hidden;
    }
 .text{
    display: flex;
    margin: 10px;
 }  
}
.image{
    width: 531.35px;
    height: 307px;
    background-image: url(img/_MG_3223.jpg) ;
    margin: 15px;
}
.text__read--button {
    background-image: url(img/expand.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 20px;
    height: 25px;
    border: none;
}
.nav__button{
    border: none;
    background-color: transparent;
}
.nav__button:hover{
    border: 3px solid #B8FFEC;
    cursor: pointer;
        }
.nav__button:focus{
   
    border: 3px solid #B8FFEC;
    cursor: pointer;
}
.text-read--label{
    display: flex;
}

.menu__button--logo{
    background-image: url(img/Group.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 96.55px;
    height: 50.81px;
    border: none;
}
h1{
    border-left: 4px solid #41F6D7;
    padding-left: 15px;
    margin-left: 0;
}
.services-nav__button{
    border: none;
    background-color: transparent;
    padding:3px;}
